/*公共样式*/

* {
    margin: 0;
    padding: 0;
}

.el-tree-node__label {
    border: 1px solid #CCCCCC;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.el-tree-node__content {
    margin-top: 20px;
    margin-left: 40px;
}

.el-tree-node>.el-tree-node__children {
    overflow: visible !important;
}

.el-dialog__header {
    background: #1AB394;
    color: white;
}

.el-dialog__title {
    color: white !important;
}

.el-dialog__headerbtn .el-dialog__close {
    color: white;
}

.el-icon-close:before {
    color: white;
}

.el-table .cell {
    text-align: center;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
}

html,
body {
    height: 100%;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    overflow: auto;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
}